* {
  margin: 0;
}
html {
  background-color: rgb(29, 29, 29);
}
body {
  width: 100%;
  text-align: center;
}
#centerContainer {
  height: 1080px;
  width: 800px;
  text-align: left;
  margin: 0px auto;
  background-color: white;
}
.bg-title {
  height: 5rem;
  position: relative;
  background-image: url("pattern.png");
  background-position: top;
  background-size: 20rem;
  background-color: rgb(90, 163, 228);
}
.bg-logo {
  padding-top: 5%;
  width: 20%;
}
.art-title{
  padding-top: 10px;
  padding-left: 5px;
}
p > span{
color: aqua;
}
.img-main{
  display: inline;
  max-width: 200px;
}
#tim1{
  max-width: 400px;
}
#tim2{
  max-width: 350px;
}
.lorem-bg-yllw{
   
  background-color: yellow;
}
.ul-lorem{
  padding-top: 15px;
}
.tb{
  position: relative;
}
th {
  background-color: #0481aa;
  color: white;
}
th, td {
  position: relative;
  top: 25px;
  padding: 5px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #00fff7;
}  
.lst-lrn{
  padding-left:  3px;;
  padding-top: 50px;
}


